
/* BODY */
body {
    /* border: 1px solid red; */
    background-color: lightpink;
  
}

/* draggable */
#mydiv {
  position: absolute;
  z-index: 9;
  /* background-color: #f1f1f1; */
  /* border: 1px solid #d3d3d3; */
  /* scale: 40%; */
  text-align: center;
  font-family: arial;
  
}

#mydivheader {
  padding: 10px;
  cursor: move;
  z-index: 10;
  /* background-color: #2196F3; */
  /* color: #fff; */
  height: 90px;
  width: 76px;
}



/* TITLE SVG'S */
.abigail{
    /* border: 1px solid blue; */
    grid-area: a;
    padding-left: 20%;
    padding-top: 20%;
    /* scale: 1.3 */
    
}


/* .dooda {
    border: 1px solid blue;
    grid-area: b;
    justify-self: top;
    scale: .4;
    
} */

.welch{
    /* border: 1px solid blue; */
    grid-area: b;
    padding-right: 20%;
    padding-top: 20%;
   
}

/* potential new title container */



/* TITLE CONTAINER */
.title-container{
  /* border: 1px solid blue; */
  
  align-items: center;
  display: grid;
  /* height: 100px; */
  column-gap: 10%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: 
  "a b";
}





/* NAVIGATION */
nav{
    /* border: 3px solid blue; */
    /* margin: 0 auto; */
    /* width: 100%; */
    /* top:0; */
    z-index:10;
  }

  nav ul {
    /* border: 1px solid blue; */
    /* align-content: center; */
    justify-content: center;
    margin:0 auto;
    /* padding:0; */
    display:flex;
  }
  nav li{
    /* border: 1px solid blue; */
    /* padding: 1em 0; */
    list-style-type: none;
    padding: 25px;
    font-size: 1.7em;
  }
  
  nav li a {
    color:rgb(27, 117, 228);
    font-family:arial;
    font-weight: 600;
    opacity: 0.6;
    text-decoration: none;
    transition: .3s;
  }
  
  nav li a:hover {
    color:rgb(255, 111, 0);
    opacity: 1;
    text-decoration: none;
  }